.nav-wrapper {
    .nav-links .nav-about {
        color: var(--third-color);
    }
}

/* Hero */
.hero-background {
    background-image: url('assets/assets/photos/about.png');
    background-size: cover;
    height: 602px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-hero {
    padding-inline: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1, p {
    color: var(--secondary-color);
}

header h1 {
    text-align: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    font-size: var(--xl);
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

header p {
    margin-top: 1.5rem;
    text-align: center;

    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

/* Our Story */
.our-story {
    padding-top: 5.5rem;
    padding-bottom: 3.5rem;
    padding-inline: 1rem;

    background-color: var(--secondary-color);

    h2, p {
        color: var(--text-color);
        font-family: var(--font-family);
        font-weight: var(--font-weight-regular);
        font-style: normal;
    }

    h2 {
        padding-bottom: 3rem;

        font-size: var(--l);
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }

    p {
        font-size: var(--ms);
        line-height: var(--m);
        letter-spacing: 1.5px;
        text-align: center;
    }
}

/* Sustainability, Technology, and Facilities */

/* Sustainability, Technology, and Facilities Tab Panel */
.feature-category-tab-panel-container {
    display: flex;
    justify-content: center;

    .feature-category-tab-panel ul li button {
        position: relative;
        z-index: 1;

        background-color: transparent;
    }
}

.feature-category-tab-panel {
    position: relative;

    padding: 0.5rem;
    border-radius: 999px;

    background-color: var(--tab-panel-color);

    li {
        list-style: none;
        display: inline;
    }

    button {
        width: 14.375rem;
        height: 4.213rem;

        border-radius: 999px;

        font-family: var(--font-family);
        font-weight: var(--font-weight-medium);
        font-size: var(--ms);
        line-height: 100%;
        letter-spacing: 0;

        color: var(--text-color);
        background-color: var(--tab-panel-color);
    }
}

.tab-panel-pill {
    position: absolute;
    top: 0;
    left: 0;

    width: 14.375rem;
    height: 4.213rem;

    border-radius: 999px;

    background-color: var(--secondary-color);

    transition: transform 300ms ease;
}

/* Sustainability, Technology, and Facilities Feature Cards */
.sustainability-technology-facilities-features-section {
    padding-top: 4rem;
    padding-bottom: 7rem;
    padding-inline: 1rem;

    background-color: var(--primary-color);
}

.feature-cards-intro {
    margin-top: 4rem;
    padding-bottom: 6rem;

    h2,
    p {
        font-family: var(--font-family);
        font-weight: var(--font-weight-light-medium);
        font-style: Medium;
        font-size: var(--lm);
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        color: var(--text-color)
    }

    h2 {
        font-size: var(--lm);
        margin-bottom: 2rem;
    }

    p {
        font-size: var(--mls)
    }
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-self: center;

    width: 100%;

    background-color: transparent;

    h3,
    p {
        margin-left: 0.75rem;
        margin-right: 0.75rem;

        font-family: var(--font-family);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 100%;
        letter-spacing: 0;
        color: var(--text-color);
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.feature-card-text-area {
    height: 100%;

    border-radius: var(--radius-large);
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    background-color: var(--secondary-color);

    h3 {
        padding-top: 3rem;

        font-size: var(--mls);
    }

    p {
        margin-top: 1rem;
        margin-bottom: 2rem;

        font-size: var(--s);
    }
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(21.438rem, 1fr));
    gap: 1rem;
}

/* Sustainability Figures */
.sustainability-figures-background {
    background: var(--main-gradient);
}

.sustainability-figures-intro {
    padding-top: 4.75rem;
    grid-area: sustainability-figures-intro;

    h2,
    p {
        font-family: var(--font-family);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        color: var(--secondary-color);
    }
}

.sustainability-figures-display {
    padding-bottom: 6rem;

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'sustainability-figure-1 sustainability-figure-2 sustainability-figure-3 sustainability-figure-4'
    ;

    figure,
    figcaption,
    p {
        font-family: var(--font-family);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        color: var(--secondary-color);
    }
}

.sustainability-figure-1 {
    grid-area: sustainability-figure-1;
}

.sustainability-figure-2 {
    grid-area: sustainability-figure-2;
}

.sustainability-figure-3 {
    grid-area: sustainability-figure-3;
}

.sustainability-figure-4 {
    grid-area: sustainability-figure-4;
}

.sustainability-figures-intro h2 {
    margin-top: 1rem;
    padding-bottom: 1rem;

    font-size: var(--l);    
}

.sustainability-figures-intro p {
    margin-bottom: 3.25rem;

    font-size: var(--m);
}

.sustainability-figures-display figure p {
    font-size: var(--ll);
}

.sustainability-figures-display figcaption {
    margin-top: 1.25rem;

    font-size: var(--s);
}

/* Contact Us Form */
.contact-us-form-section {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
    padding-bottom: 3rem;
    padding-inline: 1rem;
    background-color: var(--contact-us-section-grey);

    h2,
    p {
        text-align: center;
        color: var(--text-color);
    }

    h2 {
        font-family: var(--font-family);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        font-size: var(--l);
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
    }

    p {
        margin-top: 1.75rem;
        font-family: var(--font-family);
        font-weight: 400;
        font-style: normal;
        font-size: var(--m);
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
    }
}

.contact-us-form {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    border: solid 1px;
    border-radius: var(--radius-medium);
    font-family: var(--font-family);

    margin-top: 4rem;
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    background-color: var(--secondary-color);

    .form-section-title {
        font-family: var(--font-family);
        font-size: 2rem;
        font-weight: var(--font-weight-strong);
    }

    .form-label,
    .form-label-large {
        padding-top: 0.5rem;

        font-family: var(--font-family);
        font-weight: var(--font-weight-strong);
        font-style: Bold;
        font-size: var(--s);
        line-height: 100%;
        letter-spacing: 0;
        color: var(--text-color);
    }

    .form-label {
        display: flex;
        flex-direction: column;
    }

    .form-label-large {
        grid-column: auto / span 2;
    }

    .form-input,
    .form-text-area,
    button {
        width: 100%;
    }

    .form-input,
    .form-textarea {
        margin-top: 0.5rem;

        border-radius: var(--radius-small);
        background-color: var(--contact-us-section-grey);

        padding: 0.5rem;

        font-family: var(--font-family);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        font-size: var(--s);
        line-height: 100%;
        letter-spacing: 0;
    }

    .form-input {
        border-radius: var(--radius-small);
        border: solid 1px;
    }

    .form-textarea {
        resize: vertical;
        min-height: 9.75rem;
        width: 100%;
        border: solid 1px;

        font-family: var(--font-family);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        font-size: var(--s);
        line-height: 100%;
        letter-spacing: 0;
    }

    .form-button {
        margin-bottom: 2.25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        min-width: 7.75rem;

        grid-column: auto / span 2;

        font-family: var(--font-family);
        font-weight: var(--font-weight-light-medium);
        font-size: var(--ms);
        line-height: 100%;
        letter-spacing: 0;
    }

    .form-button:hover {
        transform: none;
    }
}

.contact-us-form .submission-confirmation-overlay {
    position: absolute;
    inset: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;

    border-radius: var(--radius-medium);
    background: var(--secondary-color);

    button {
        align-self: center;

        width: 25%;
        min-width: 9.25rem;

        min-height: 4rem;

        font-family: var(--font-family);
        font-weight: var(--font-weight-light-medium);
        font-size: var(--ms);
        line-height: 100%;
        letter-spacing: 0;
    }
}

.contact-us-form .submission-confirmation-overlay.active {
    display: flex;
    pointer-events: auto;
}

@media (max-width: 1270px) {
    .feature-cards {
        grid-template-columns: repeat(2, minmax(21.438rem, 1fr));
    }

    .sustainability-figures-display {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            '. sustainability-figure-1 sustainability-figure-2 .'
            '. sustainability-figure-3 sustainability-figure-4 .'
        ;

        column-gap: 2rem;
        row-gap: 3rem;
    }
}

@media (max-width: 860px) {
    .feature-category-tab-panel {
        border-radius: 17%;
    }

    .feature-category-tab-panel ul {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    .feature-cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 650px) {
    .form-label {
        grid-column: span 2;
    }
}

@media (max-width: 375px) {
    .sustainability-figures-display {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
            'sustainability-figure-1'
            'sustainability-figure-2'
            'sustainability-figure-3'
            'sustainability-figure-4'
        ;
    }
}