.booking-body {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
/* ------------------------ Nav-bar styling ---------------------------------------  */
.nav-wrapper {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & .nav-links .nav-booking {
    color: var(--third-color);
  }
}
/* ------------------------ Header styling ---------------------------------------  */
.booking-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12rem; /* Justerar för att kompensera för nav-barens höjd */
  font-weight: var(--font-weight-regular);
  line-height: 100%;
  text-align: center;
  margin-bottom: var(--ll); /* 4rem */
  line-height: 1.1;

  & .booking-headline {
    font-size: clamp(var(--l), 1.5rem + 3vw, var(--xl));
  }
  & .booking-subheadline {
    font-size: clamp(var(--xs), 0.8rem + 1.5vw, var(--m));
    margin-top: var(--xs); /* 1rem */
  }
}
/* ------------------------ Filtrerings styling ---------------------------------------  */

/* --------- Detta är containern för formuläret --------- */
.grid-form {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* 4 kolumner + knapp */
  gap: 2.0625rem; /* 33px */
  width: 100%;
  padding: 3.4375rem 2.375rem 3.375rem 2.5625rem; /* 55px 38px 54px 41px */
  background-color: var(--secondary-color);
  border-radius: var(--radius-large); /* 25px */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  align-items: end;
  margin-bottom: var(--l); /* 3rem */
}
/* --------- Varje input fält och label grupp --------- */
.filter-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative; /* Gör att vi kan placera felmeddelandet exakt */
}
/* Label styling för varje fält */
.checkin-label,
.checkout-label,
.guest-droplist-label,
.room-types-label {
  font-weight: var(--font-weight-medium);
  font-size: var(--ms);
  padding: 0 0 var(--xxs) 0.3125rem; /* 0 0 8px 5px */
  text-align: left;
  cursor: pointer;
  display: inline-block;
}
/* Styling för varje input fält och dropdowns */
.checkin,
.checkout,
.guest-droplist,
.room-types {
  width: 100%;
  height: 4.0625rem; /* 65px */
  padding: 0 var(--xs); /* 0 16px; */
  border: 1px solid black;
  border-radius: 15px; /* -----------------------------------------------kolla på detta!------- */
  font-size: var(--xs);
  cursor: pointer;
}
/* Lägger till kalender ikonen i datum fälten */
.checkin,
.checkout {
  background-image: url(assets/assets/lucide/calendar-days.svg);
  background-position: left 15px center;
  background-repeat: no-repeat;
  background-size: 1.125rem; /* 18px */
  padding-left: 2.8125rem; /* 45px Extra padding för att ge plats åt ikonen */
  position: relative;
}

/* Detta är specifikt för placeholder-texten i datumfälten */
.checkin::placeholder,
.checkout::placeholder {
  font-weight: var(--font-weight-medium);
  font-size: var(--xs);
  color: var(--text-color);
  opacity: 1;
}
/* Döljer den inbyggda kalender-ikonen helt */
input::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
}

/* Döljer den även när fältet är aktivt */
.checkin::-webkit-calendar-picker-indicator,
.checkout::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 0;
  height: 0;
  display: none !important;
}
/* Lägger till nedåtpilen i dropdown fälten */
.guest-droplist,
.room-types {
  appearance: none; /* Döljer standard pilen */
  -webkit-appearance: none; /* Döljer för Safari */
  -moz-appearance: none; /* Döljer för Firefox */
  background-image: url(assets/assets/lucide/chevron-down.svg);
  background-position: right 13px center;
  background-repeat: no-repeat;
  background-size: var(--ms) var(--ms); /* 24px 24px */
  font-weight: var(--font-weight-medium);
}
/* Styling för submit knappen */
.submit-button {
  grid-column: span 1;
  width: 100%;
  height: 4.0625rem; /* 65px */
  padding: 0 var(--xs); /* 0 16px; */
  background-color: var(--button-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin: 0;
  font-size: var(--ms);
  font-weight: var(--font-weight-medium);
  /* Mjuk övergång för hover effekt */
  transition:
    background-color 0.4s ease-in-out,
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
/* Hover effekt för submit knappen */
.submit-button:hover {
  background-color: var(--button-hover);
  transform: scale(1.02);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}

/* ------------------------ Rummer styling ---------------------------------------  */

/* --------- Samlings containern för main contenet --------- */
.display-items {
  display: flex;
  flex-direction: column;
  padding-top: var(--ms);
}
/* Denna klass läggs till via master.js för att dölja rummer när inga matchar filtreringen */
.display-items.hidden {
  display: none !important;
}
.display-items p {
  padding-bottom: 0;
}
/* .display.cards { */
.show-rooms-h2 {
  font-size: clamp(var(--m), 5vw, var(--l)); /* --l */
  font-weight: var(--font-weight-regular);
  margin-bottom: 0.6875rem; /* 11px */
}
.show-rooms-p {
  font-size: clamp(var(--xs), 3vw, var(--m)); /* --m */
  font-weight: var(--font-weight-regular);
  margin-bottom: 3.25rem; /* 52px */
}

/* --------- Denna container håller varje rumskort --------- */
.room-card {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  border-radius: var(--radius-large);
  overflow: hidden;
  margin-bottom: 3.75rem; /* 60px */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  /* startläge för animation innan dom börjar */
  opacity: 0;
  scale: 0.75;
  /* Hur man hanterar animationerna */
  transition:
    transform 0.4s ease-in-out,
    scale 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
/* Lägger jag till en hover effekt på korten som markören står på så att dom kommer fram lite */
.room-card:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.35);
  z-index: 5;
  /* Hover effekt för knappen i kortet */
  & .card-btn:hover {
    background-color: var(--button-hover);
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
  }
}
/* Animering för att få korten att skala in när de visas */
.display-items:not(.hidden) .room-card {
  animation: scaleIn 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
/* Staggered animation delays för varje kort och får använda mig av :nth-of-type istället för :nth-child 
för att förhindra att rummskorten hoppar fram på oönskat sätt. Och använder delay så man kan skapa en fin sekvens 
av hur korten visas */
.display-items:not(.hidden) .room-card:nth-of-type(1) {
  animation-delay: 0.1s;
}
.display-items:not(.hidden) .room-card:nth-of-type(2) {
  animation-delay: 0.3s;
}
.display-items:not(.hidden) .room-card:nth-of-type(3) {
  animation-delay: 0.5s;
}
.display-items:not(.hidden) .room-card:nth-of-type(4) {
  animation-delay: 0.7s;
}
.display-items:not(.hidden) .room-card:nth-of-type(5) {
  animation-delay: 0.9s;
}
.display-items:not(.hidden) .room-card:nth-of-type(6) {
  animation-delay: 1.1s;
}

/* --------- Bild containern för kortet --------- */
.room-image {
  flex: 1;
  margin: 0;
  position: relative;
}
/* Kundomdöme container */
.rating-score {
  position: absolute;
  top: 1.8125rem; /* 29px */
  right: 1.375rem; /* 22px */
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0.625rem 0.8125rem; /* 10px 13px */
  border-radius: var(--s); /* 20px */
  display: flex;
  align-items: center;
  gap: var(--xxs); /* 8px */
}
/* Bilden för kundomdöme */
.rating-score img {
  width: var(--ms); /* 24px */
  height: var(--ms); /* 24px */
}
.score-value {
  font-size: var(--s);
  font-weight: var(--font-weight-regular);
}
/* Bilden i kortet */
.room-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ---------- Rummers informations container -------- */
.room-information {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  padding: var(--ms); /* 24px */
  justify-content: space-between;
}

/* Container för headern i kortet */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* -------- Container för vänstra delen av headern i kortet --------- */
.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--xxs); /* 8px */
}

/* Rubrik för kortet */
.headline {
  font-size: var(--m);
  font-weight: var(--font-weight-regular);
}
/* -------- Container för rummets info som visar gäster och storlek -------- */
.room-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--xxs); /* 8px */
  /* white-space: nowrap; */
}
/* Ikon storlek i room info */
.room-info img {
  width: var(--ms); /* 24px */
  height: var(--ms); /* 24px */
}

.persons,
.area {
  font-size: var(--s);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
  padding-right: var(
    --xs
  ); /* Ger lite utrymme mellan de två p elementen figmaskiss säger 23 men blir för mkt.*/
}

/* -------- Container för priset -------- */
.price-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.2;
}

/* Container för pris visningen */
.show-price {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
/* Pris text styling */
.price {
  font-size: var(--m);
  font-weight: var(--font-weight-regular); /* lägga i main-body ist? */
  color: var(--third-color);
}
/* Pris per natt text styling */
.per-night {
  font-size: var(--s);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
  padding-top: 0.4375rem; /* 7px */
}
/* -------- Container för kortets huvud innehåll -------- */
.content-body {
  margin-top: 1.3125rem; /* 21px */
}
.info-list {
  margin-bottom: var(--xs); /* 1rem*/
}
.content-body p {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* 12px */
}

/* Ikon storlek i content body */
.content-body img {
  width: var(--ms); /* 24px */
  height: var(--ms); /* 24px */
}

/* Ikon justering i content body */
.content-body > img {
  vertical-align: middle;
  margin-right: 0.75rem; /* 12px */
}

.info-headlines {
  font-size: var(--s);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
}

/* Lista styling för rums features i kortet */
.card-features,
.card-ai-features {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--xxs); /* 8px */
}
/* Styling för varje list-item i rums features */
.card-features li,
.card-ai-features li {
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: var(--xxs) var(--xs); /* 0.5rem 1rem */
  margin-right: 0.8rem;
  font-size: var(--xs);
  font-weight: var(--font-weight-regular);
}
.card-features li {
  margin: 0.4375rem 0 1.125rem 0; /* 7px 0 18px 0 */
}
/* ändrar färg på AI features */
.card-ai-features li {
  color: #9810fa;
  margin: 0.8125rem 0 0.625rem 0; /* 13px 0 10px 0 */
}

/* Lägger till extra padding-top för sista list-item i card-features för att skapa mer utrymme ovanför knappen */
.last-item {
  padding-top: 0.4375rem; /* 7px */
  font-size: var(--s); /* 20px */
  font-weight: var(--font-weight-regular);
}
/* -------- Container för kortets footer -------- */
.content-footer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color); /* Kan kanske tas bort. */
}
/* Styling för knappen */
.card-btn {
  width: 100%;
  margin-top: 1.3125rem; /* 21px */
  padding: var(--xs) 0; /* 1rem 0 */
  font-weight: var(--font-weight-medium);
  font-size: var(--ms);
  transition: background-color 0.4s ease-in-out;
}
/* Gör så att varannan kort vänder på sig */
.room-card:nth-child(even) {
  flex-direction: row-reverse;
}

/* Använder margin-top auto för att pusha ner footern till botten oavsett hur mycket man har zoomat ut */
.site-footer {
  margin-top: auto;
}

/* --------------------- Error's Felmeddelanden ----------------------------------  */

/* Denna klass läggs till via master.js */
.error {
  border: 2px solid var(--error-color) !important; /* Röd kant */
  background-color: var(
    --error-background
  ) !important; /* Svagt röd bakgrund #fff2f2 */
}

/* Styling för felmeddelandet */
.error-message {
  color: var(--error-color) !important; /* Röd textfärg */
  border: 2px solid var(--error-color) !important; /* Röd kant */
  background-color: var(--error-background) !important; /* Svagt röd bakgrund */
  font-size: 1.3rem;
  padding: 3.5px;
  border-radius: var(--border-radius); /* 10px */
  margin-top: 0.25rem; /* 4px */
  font-weight: bold;
  display: block;
  position: absolute;
  top: 100%; /* Placerar texten precis under input-fältet */
  white-space: nowrap; /* Hindrar texten från att radbrytas */
  z-index: 10; /* Gör att den hamnar framför eventuella skuggor eller ramar */
  /* Animering för att det skall "poppa" fram */
  animation:
    fadeIn 0.3s ease-in-out,
    errorGlow 1.5s ease-in-out infinite;
}

/* -------------------------- Media querys ---------------------------------------  */
/* --------- För rumskorten ----------  */
@media (max-width: 1260px) {
  .main-content-headline {
    padding-left: var(--ms);
  }
}
@media (max-width: 768px) {
  .booking-header {
    margin-top: 10rem;
    padding: 0 var(--xs); /* Justerar för att kompensera för nav-barens höjd */
  }
  .room-card {
    flex-direction: column;
    padding: 0 var(--xs); /* 0 1rem */
  }
  .room-card:nth-child(even) {
    flex-direction: column;
  }
  /* Gör att bilden kommer högst upp */
  .room-image {
    order: 1;
  }
  /* Och texten kommer efter bilden */
  .room-information {
    order: 2;
  }
  .room-information {
    padding: var(--xs) var(--xxs); /* 1rem 0.5rem */
  }
  .content-footer {
    margin-top: var(--ms); /* 1.5rem */
  }
}

/* ------- För filtrerings rutan ----------  */
@media (max-width: 1210px) {
  /* 4 kolumner på desktop och 2 rader */
  .grid-form {
    grid-template-columns: repeat(4, 1fr);
  }
  .submit-button {
    /* Gör så att knappen tar upp den sista kolumnen */
    grid-column: 4 / -1;
  }
}

@media (max-width: 1120px) {
  /* 2 kolumner och 3 rader på surfplatta */
  .grid-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .guest-droplist-label,
  .room-types-label {
    margin-top: var(--xxs);
  }
  /* Gör så att knappen tar upp båda kolumnerna */
  .submit-button {
    grid-column: span 2;
  }
}

@media (max-width: 500px) {
  /* 1 kolumn och 5 rader på mobiltelefon */
  .grid-form {
    grid-template-columns: repeat(1, 1fr);
  }
  .checkout-label,
  .room-types-label {
    margin-top: var(--xxs);
  }
  .submit-button {
    grid-column: span 1;
  }
}

/* -------------------------- Animeringar ---------------------------------------  */

/* Animering för felmeddelandet */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-0.2125rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animering för att skala in rums korten */
@keyframes scaleIn {
  to {
    opacity: 1;
    /* transform: scale(1); */
    scale: 1;
  }
}

/* Animering för felmeddelandets pulserande effekt för att fånga uppmärksamhet */
@keyframes errorGlow {
  0% {
    box-shadow: 0 0 5px rgba(213, 8, 8, 0.4);
    transform: scale(0.95);
  }
  50% {
    box-shadow: 0 0 20px rgba(213, 8, 8, 0.8);
    transform: scale(1.01); /* En svag förstoring för extra effekt */
  }
  100% {
    box-shadow: 0 0 5px rgba(213, 8, 8, 0.4);
    transform: scale(0.95);
  }
}
