.booking-body {
  background-color: var(--primary-color);
  height: 100vh;
}
/* ------------------------ Nav-bar styling ---------------------------------------  */
.nav-wrapper {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & .nav-links .nav-booking {
    /* Byta */
    color: var(--third-color);
  }
}
/* ------------------------ Header styling ---------------------------------------  */
.booking-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12rem; /* Justerar för att kompensera för nav-barens höjd */
  font-weight: 400;
  font-style: normal;
  font-size: var(--l);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 4rem;
  & h1 {
    font-weight: var(--font-weight-regular);
    line-height: 1;
  }
  & p {
    font-size: var(--m);
    margin-top: 1rem;
    line-height: 1;
  }
}
/* ------------------------ Filtrerings styling ---------------------------------------  */

/* --------- Detta är containern för formuläret --------- */
.grid-form {
  display: grid;
  grid-template-columns: repeat(4, 189px) 273px; /* 4 kolumner + knapp */
  gap: 33px;
  width: 100%;
  padding: 53px 38px 54px 41px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  align-items: end;
  box-sizing: border-box;
}
/* --------- Varje input fält och label grupp --------- */
.filter-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative; /* Gör att vi kan placera felmeddelandet exakt */
}
/* Label styling för varje fält */
.checkin-label,
.checkout-label,
.guest-droplist-label,
.room-types-label {
  font-weight: var(--font-weight-medium);
  font-size: var(--ms);
  padding: 0 0 8px 5px;
  text-align: left;
}
/* Styling för varje input fält och dropdowns */
.checkin,
.checkout,
.guest-droplist,
.room-types {
  width: 100%;
  height: 65px;
  padding: 0 16px; /* 8px; */
  border: 1px solid black;
  border-radius: 15px;
  font-size: var(--xs);
  box-sizing: border-box;
  cursor: pointer;
}
/* Lägger till kalender ikonen i datum fälten */
.checkin,
.checkout {
  background-image: url(assets/assets/lucide/calendar-days.svg);
  background-position: left 15px center;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 45px; /* Extra padding för att ge plats åt ikonen */
  position: relative;
}

/* Detta siktar specifikt på placeholder-texten i dina datumfält */
.checkin::placeholder,
.checkout::placeholder {
  font-weight: var(--font-weight-medium);
  font-size: var(--xs);
  color: var(--text-color);
  opacity: 1;
}
/* Döljer den inbyggda kalender-ikonen helt */
input::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
}

/* Döljer den även när fältet är aktivt */
.checkin::-webkit-calendar-picker-indicator,
.checkout::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 0;
  height: 0;
  display: none !important;
}
/* Lägger till nedåtpilen i dropdown fälten */
.guest-droplist,
.room-types {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(assets/assets/lucide/chevron-down.svg);
  background-position: right 13px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-weight: var(--font-weight-medium);
  /*padding-right: 10px; /* Extra padding för att ge plats åt ikonen */
}
/* Styling för submit knappen */
.submit-button {
  width: 100%;
  height: 65px;
  padding: 0 16px;
  background-color: var(--button-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin: 0;
  font-size: var(--ms);
  font-weight: var(--font-weight-medium);
  transition: background 0.3s ease;
}
/* Hover effekt för submit knappen */
.submit-button:hover {
  background-color: var(--button-hover);
}

/* ------------------------ Rummer styling ---------------------------------------  */

/* --------- Samlings containern för main contenet --------- */
.display-items {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}
/* Denna klass läggs till via master.js för att dölja rummer när inga matchar filtreringen */
.display-items.hidden {
  display: none !important;
}
.display-items p {
  padding-bottom: 0;
}
/* .display.cards { */
.show-rooms-h2 {
  font-size: var(--l);
  font-weight: var(--font-weight-regular);
  margin-bottom: 11px;
}
.show-rooms-p {
  font-size: var(--m);
  font-weight: var(--font-weight-regular);
  margin-bottom: 52px;
}

/* --------- Denna container håller varje rumskort --------- */
.room-card {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
}
/* --------- Bild containern för kortet --------- */
.room-image {
  flex: 1;
  margin: 0;
}
/* Bilden i kortet */
.room-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ---------- Rummers informations container -------- */
.room-information {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  padding: 2rem;
  justify-content: space-between;
}
/* Rubrik för kortet */
.headline {
  font-size: var(--m);
  font-weight: var(--font-weight-regular);
}
/* Container för headern i kortet */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  /* margin-bottom: 1.5rem; */
}
/* -------- Container för vänstra delen av headern i kortet --------- */
.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
/* -------- Container för rummers info som visar gäster och storlek -------- */
.room-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  /* white-space: nowrap; */
}
/* Ikon storlek i room info */
.room-info img {
  width: 20px;
  height: 20px;
}

/* -------- Container för priset -------- */
.price-container {
  text-align: right;
}
/* Lista styling för rums features i headern */
.content-header .card-features li {
  background-color: var(--secondary-color);
  margin: 0;
}
/* Pris text styling */
.price {
  /* display: block; */
  font-size: var(--m);
  font-weight: var(--font-weight-regular); /* lägga i main-body ist? */
  color: var(--third-color);
}
/* Pris per natt text styling */
.per-night {
  font-size: var(--s);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
}
.show-price {
  margin: 0;
  padding: 0;
}
/* -------- Container för kortets huvud innehåll -------- */
.content-body {
  margin-top: 21px;
}
.info-list {
  margin-bottom: 1rem;
}
.content-body p {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  /* margin: 1rem 0 0.5rem 0; */
}
/* Ikon justering i content body */
.content-body > img {
  vertical-align: middle;
  margin-right: 0.75rem;
}

/* Lista styling för rums features i kortet */
.card-features,
.card-ai-features {
  /* margin-top: 1rem; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* margin: 0.5rem 0 1rem 0; */
}
/* Styling för varje list-item i rums features */
.card-features li,
.card-ai-features li {
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  /* margin-top: 0.5rem; */
  margin-right: 0.8rem;
  font-size: 0.8rem;
}
.card-features li {
  margin: 7px 0 18px 0;
}
/* ändrar färg på AI features */
.card-ai-features li {
  color: #9810fa;
  margin: 13px 0 10px 0;
}
/* Ikon storlek i content body */
.content-body img {
  width: 20px;
  height: 20px;
}
/* Lägger till extra padding-top för sista list-item i card-features för att skapa mer utrymme ovanför knappen */
.last-item {
  padding-top: 7px;
}
/* -------- Container för kortets footer -------- */
.content-footer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color); /* Kan kanske tas bort. */
}
/* Styling för knappen */
.card-btn {
  width: 100%;
  margin-top: 21px;
  padding: 1rem 0;
  font-weight: 600;
  font-size: var(--ms);
}
/* Gör så att varannan kort vänder på sig */
.room-card:nth-child(even) {
  flex-direction: row-reverse;
}

/* Lägger jag till en hover effekt på korten som markören står på */
.room-card:hover {
  transform: scale(1.02);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.35);
  /* Hover effekt för knappen i kortet */
  & .card-btn:hover {
    transition: background-color 0.4s ease-in-out;
    background-color: var(--button-hover);
  }
}
/* Sätter en margin för att inte filtreringen ska ligga för nära footern när inga rum visas */
.site-footer {
  margin-top: 3rem;
}

/* --------------------- Error's Felmeddelanden ----------------------------------  */

/* Denna klass läggs till via master.js */
.error {
  border: 2px solid #ff4d4d !important; /* Röd kant */
  background-color: #fff2f2 !important; /* Svagt röd bakgrund */
}

/* Styling för felmeddelandet */
.error-message {
  color: #ff4d4d !important; /* Röd textfärg */
  border: 2px solid #ff4d4d !important; /* Röd kant */
  background-color: #fff2f2 !important; /* Svagt röd bakgrund */

  font-size: 1.3rem;
  padding: 3.5px;
  border-radius: 10px;
  /* text-align: center; */
  margin-top: 4px;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 100%; /* Placerar texten precis under input-fältet */
  white-space: nowrap; /* Hindrar texten från att radbrytas och bli ful */
  z-index: 10; /* Gör att den hamnar framför eventuella skuggor eller ramar */
  /* Animering för att "poppa" fram */
  animation: fadeIn 0.3s ease-in-out;
}

/* -------------------------- Media querys ---------------------------------------  */

/* Media query för skärmstorlek 768px och mindre */
@media (max-width: 768px) {
  .room-card {
    flex-direction: column;
    padding: 0 0.2rem;
  }
  .room-card:nth-child(even) {
    flex-direction: column;
  }
  .room-image {
    order: 1;
  }
  .room-information {
    order: 2;
  }
  .room-information {
    padding: 1rem 0.5rem;
  }
  .content-footer {
    margin-top: 1.5rem;
  }
}

/* ----- För filtreringen ----------  */
@media (max-width: 1024px) {
  .grid-form {
    grid-template-columns: repeat(2, 1fr); /* 2 rader på surfplatta */
  }
  .submit-button {
    grid-column: span 2;
  }
  .error-message {
    right: 1px; /* Justera positionen för mindre skärmar */
  }
}

/*--------- Animeringar ----------  */

/* Animering för felmeddelandet */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
