.booking-body {
  background-color: var(--primary-color);
  height: 100vh;
}
.nav-wrapper {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & .nav-links .nav-booking {
    /* Byta */
    color: var(--third-color);
  }
}
/* Detta är samlings containern för main contenet för denna sida */
.display-items {
  display: flex;
  flex-direction: column;
  padding: 10rem 0 3rem 0;
}
.display-items p {
  padding-bottom: 2rem;
}
/* .display.cards { */
.show-rooms-h2 {
  font-size: var(--l);
  font-weight: var(--font-weight-regular);
}
.show-rooms-p {
  font-size: var(--m);
  font-weight: var(--font-weight-regular);
}
/* Denna container håller varje rumskort */
.room-card {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: var(--secondary-color);
  margin-bottom: 2rem;
  /* Bilden containern för kortet */
  & .room-image {
    flex: 1;
    margin: 0;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  /* Rummers informations container */
  & .room-information {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    & .content-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      & li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    & .price-container {
      text-align: right;
      & .price {
        display: block;
        font-size: 1.5rem;
        font-weight: 600; /* lägga i main-body ist? */
        color: var(--third-color);
      }
      & .per-night {
        font-size: 0.875rem;
        color: var(--text-color);
      }
    }
  }

  & .content-footer {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color); /* Kan kanske tas bort. */

    & .card-btn {
      width: 100%;
      padding: 1rem 0;
      font-weight: 600;
      font-size: var(--ms);
    }
  }
}
/* Lägger jag till en hover effekt på korten som markören står på */
.room-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.35);

  & .card-btn:hover {
    transition: background-color 0.4s ease-in-out;
    background-color: var(--button-hover);
  }
}
/* Media query för skärmstorlek 768px och mindre */
@media (max-width: 768px) {
  .room-card {
    flex-direction: column;
    padding: 0 0.2rem;
  }
  .room-image {
    order: 1;
  }
  .room-information {
    order: 2;
  }
  .room-information {
    padding: 1rem 0.5rem;
  }
  .content-footer {
    margin-top: 1.5rem;
  }
}
