/*Ändrar färgen på "home" i naven til grön*/
.nav-wrapper .nav-links .nav-home{
    color: var(--third-color);
  }

/*-- BANNER STYLING BÖRJAR HÄR --*/
.homepage-wrapper{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    background-image: url("assets/assets/photos/welcome-photo.svg");
    background-size: cover;
    background-position: center;
}

.banner-wrapper{
    padding: 11rem 0;
    width: 100%;
    gap: 2rem;
    max-width: 1240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-h1{
    font-size: var(--xl);
    font-weight: var(--font-weight-regular);
    color: var(--secondary-color)
}

.welcome-p{
    font-size: 36px;
    font-weight: var(--font-weight-regular);
    color: var(--secondary-color)
}

.booking-button, .about-button{
    font-size: var(--ms);
    padding: 16px 32px;
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 10px;
}

.welcome-buttons{
    min-height: 73px;
    align-content: center;
}

.booking-button{
    margin-right: 0.5rem;
    background-color: var(--button-color);
    border: solid 1px var(--button-color);
}

.about-button{
    margin-left: 0.5rem;
    background-color: transparent;
    border: solid 3px var(--secondary-color)
}

/* availability styling slutar här*/
.check-availability-wrapper{
    background: var(--main-gradient);
    display: flex;
    justify-content: center;

    .check-availability-content{
        max-width: 1240px;
        display: grid;
        grid-template-columns: repeat(4, max-content);
        justify-content: center;

        gap: 1.5rem;
        padding: 4.75rem 0;
        .filter-button{
            width: 231px;
            height: 65px;
            padding: 0;
            margin:0;

            display:flex;
            justify-content: space-evenly;
            align-items: center;

            color: var(--text-color);
            background: var(--secondary-color);
            border: solid 1px var(--text-color);
            border-radius: 15px;
            font-size: var(--ms);
            font-weight: var(--font-weight-medium);
                img{
                    max-width: 32px;
                }
        }

        .check-availability-button{
            width: 251px;
            background: var(--text-color);
            font-size: var(--ms);
            font-weight: var(--font-weight-medium);
            padding: 18px 23px;
        }
    }

}
/* vision styling börjar här */

.vision-wrapper, .usp-wrapper{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usp-wrapper{
    background-color: var(--primary-color);
    text-align: center;
}

.vision-content-wrapper, .usp-content-wrapper{
    max-width: 1240px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .vision-title, .usp-title{
            font-weight: var(--font-weight-regular);
            font-size: var(--l);
            padding: 80px 0 35px 0;
        }

        .vision-text, .usp-text{
            text-align: center;
            padding-bottom: 35px;
            width: 80%;
            font-family: var(--font-family2);
            font-size: var(--ms);
        }
}

.card-wrapper{
    align-self: flex-start;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 5.8rem;
    width: 100%;
}

.image-container{
    background-color: #88DC84;
    width: fit-content;
    display: flex;
    border: solid 1px #88DC84;
    border-radius: 50%;
    padding: 1rem;
    align-content: center;
}

.card-image{    
    z-index: 100;
}

.vision-card, .usp-card{
    border: solid 1px;
    border-radius: 24px;
    height: 100%;
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            height: 100%;

            .card-title{
                font-weight: var(--font-weight-regular);
                font-size: var(--m);
            }

            .card-text{
                width: 100%;
                font-size: var(--s);
                margin-bottom: auto;
            }
        }
}

.usp-card{
    div{
        padding-top: 18px;
        text-align: center;
        align-items: center;

            h2{
                font-weight: var(--font-weight-regular);
            }

            .usp-card-title{
                font-size: 28px;
                padding-left: 13px;
                padding-right: 12px;
            }

            .card-stats{
                font-size: var(--m);
                color: var(--button-color);
            }
            
            .usp-card-text{
                padding-left:23px ;
                padding-right: 22px;
                padding-bottom: 4rem;
            }
    }
}

.vision-card{
    div{
        padding: 1rem 20px 3.5rem 25px;
    }
}

.usp-card{
    background-color: var(--secondary-color);
}

.home-footer-wrapper{
    background: var(--main-gradient);
    backdrop-filter: blur(4px);
}

.home-footer-content{
    max-width: 1240;
    text-align: center;
    color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 6rem 1rem;
        h2{
            font-size: var(--l);
            font-weight: var(--font-weight-regular);
        }

        p{
            max-width: 1056px;
            font-size: var(--m);
            font-weight: var(--font-weight-regular);
        }

        a{
            max-width: 193px;
            text-decoration: none;
            font-size: var(--ms);
            font-weight: var(--font-weight-medium);
            color: var(--button-color);
            border: solid 1px  #CBCBCB;
            background-color: #CBCBCB;
            padding: 16px 32px;
            border-radius: 10px;
        }
}

.enhanced-wrapper{
    background-color: var(--secondary-color);
    padding: 117px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enhanced-content-wrapper{
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    column-gap: 6rem;
    row-gap: 1rem;


    .enhanced-list li{
        list-style: none;
        padding: 1rem 0;
    }
    
    .enhanced-text{
        grid-row: 2/span 1
    }

    .enhanced-list{
        grid-row: 3/ span 1;
    }

    .enhanced-title{
        font-size: var(--l);
        font-weight: var(--font-weight-regular);
    }

    .enhanced-text, .list-text, .list-text2{
        font-size: var(--s);
        font-weight: var(--font-weight-regular);
        letter-spacing: 1px;
        line-height: 2rem;
    }
    
    .list-text2{
        color: #393939;
    }
    
    .enhanced-button{
        align-content: center;
        text-align: center;
        grid-row: 4/span 1;
        text-decoration: none;
        color: var(--secondary-color);
        background-color: var(--button-color);
        border: solid 1px var(--button-color);
        border-radius: 10px;
        padding: 16px 32px;
        font-size: var(--ms);
        font-weight: var(--font-weight-medium);
        max-width: 320px;
        max-height: 73px;
        font-style:var()
    }
    
    
    
    .enhanced-image-container{
        margin:0;
        padding: 0;
        grid-column: 2/span 1;
        grid-row: 1/span 4;
    }
}

.enhanced-image{
    height: 100%;   
    object-fit:contain;
}

@media screen and (max-width: 1259px){
    .enhanced-content-wrapper{
        padding: 0 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, fit-content);
        justify-items: center;
        text-align: center;
        row-gap: 1rem;

        .enhanced-title{
            grid-column: 1/span all;
            grid-row: 1/span 1;
        }
        .enhanced-text{
            grid-column: 1/span all;
            grid-row: 2/span 1;
        }
        
        .enhanced-list{
            grid-column: 1/span all;
            grid-row: 4/ span 1 ;
        }
        
        .enhanced-image-container{
            grid-column: 1/span all;
            grid-row: 3/span 1;

                .enhanced-image{
                    width: 100%;
                }
        }
        
        .enhanced-button{
            grid-column: 1/span all;
            grid-row:5/span 1;
        }
    }
}

@media screen and (max-width: 1240px)
{
    .nav-content-wrapper{
        padding: 0 1rem
    }

    .card-wrapper{
        grid-template-columns: repeat(2,1fr);
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media screen and (max-width: 1018px){

    .check-availability-wrapper .check-availability-content{
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: max-content max-content;

        .check-availability-wrapper:nth-child(2){
            place-self: center;
            justify-self: center;
            align-self: center;

        }
        .check-availability-button{
            width:100%;
            grid-column: 1/span 3;
        }
    }
}


@media screen and (max-width: 862px){
        
    .card-wrapper{
        align-self: flex-start;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(1,1fr);
        padding: 0 1rem 80px 1rem;
    }

    .vision-card div{
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 755px){
    body .check-availability-wrapper .check-availability-content{
        grid-template-columns: max-content;
        grid-template-rows:repeat(2, max-content);

        .filter-button{
            width: 100%;
            /* grid-column: 1/span 2; */
        }

        .check-availability-button{
            grid-column: 1/span 1;
        }
    } 
    
}

@media screen and (max-width: 380px){
    .banner-wrapper{
        padding: 5rem 0;
    }
    
    .welcome-h1{
        font-size: var(--l);
    }
    .welcome-p{
        font-size: var(--ms);
    }

    .about-button, .booking-button{
        font-size: var(--xs);
    }
    
    .usp-title{
        margin: 0 1rem;
        text-align: center;
    }

    .card-wrapper{
        padding: 4rem 1rem;
        margin: 0;
    }

}

@media screen and (max-width: 500px) {
    .banner-wrapper{
        padding: 8rem 0;
    }
    .welcome-h1{
        font-size: var(--l);
    }
    .welcome-p{
        font-size: var(--ms);
    }

    .about-button, .booking-button{
        font-size: var(--xs);
    }

}