.welcome-wrapper{
    width: 100%;
    height: 100vh;
    background-image: url("assets/assets/photos/welcome-photo.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    color: var(--secondary-color);
    width: 1240px;
    /* height: 100vh; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-h2{
    font-size: var(--m);
    text-align: center;   
}

.welcome-h3{
    font-size: var(--l);
    text-align: center;
}