/*Ändrar färgen på "home" i naven til grön*/
.nav-wrapper .nav-links .nav-home{
    color: var(--third-color);
  }

/*----------------------BANNER STYLING BÖRJAR HÄR----------------------*/

.banner-wrapper{ 
    background-image: url("assets/assets/photos/welcome-photo.svg");
    background-size: cover;
    background-position: center;
    border-color: transparent;
    display: grid;
    grid-template-columns: minmax(auto, 1240px);
    justify-content: center;
    padding: 346px 1rem 12rem 1rem;
    width: 100%;
    gap: 2rem;
    text-align: center;

    .welcome-h1{ /* Rubriken överst på välkomst sidan*/
        /* font-size: var(--xl); */
        font-size:clamp(var(--l), 5vw, var(--xl));
        font-weight: var(--font-weight-regular);
        color: var(--secondary-color)
    }
    
    .welcome-p{ /* Texten under rubriken på välkomst sidan*/
        font-size:clamp(var(--ms), 2.5vw, var(--lm));
        font-weight: var(--font-weight-regular);
        color: var(--secondary-color);
        margin-bottom: 3rem;
    
    }
    
    .welcome-buttons{ /* containern för knapparna under texten på välkomst sidan*/
        align-content: center;
        padding: 0;
        margin: 0;

        .booking-button{ /* stylingen för boka knapp*/
            display: inline-block;
            font-size: var(--ms);
            color: var(--secondary-color);
            text-decoration: none;
            border-radius: 10px;
            margin-right: 0.5rem;
            padding: 22px 18px;
            background-color: var(--button-color);
            border: solid 3px var(--button-color);
        }
        
        .booking-button:hover{ /* hover effekten på boka knapp*/
            border: solid 3px var(--button-hover);
            background-color: var(--button-hover);
            scale: 1.02;
        }
        
        .about-button{ /* stylingen för lär dig mer knapp*/
            display: inline-block;
            font-size: var(--ms);
            color: var(--secondary-color);
            text-decoration: none;
            border-radius: 10px;
            margin-left: 0.5rem;
            padding: 22px 29.5px;
            background-color: transparent;
            border: solid 3px var(--secondary-color);
        
        }
        
        .about-button:hover{ /* hover effekten på lär dig mer knapp*/
            scale: 1.02;
            background-color: transparent;
        }
    }
}

/* ----------------------availability styling börjar här----------------------*/

.check-availability-content{ /* container för bokningsknapparna*/
    background: var(--main-gradient);
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, calc(1240px / 5)));
    grid-template-rows: fit-content;
    justify-content: center;

    padding: 4.75rem 1rem;
    margin: 0;

    .filter-button{ /*filtreringsknappar*/
        width: 231px;
        height: 71px;
        margin:0;
        padding-left: 12px;

        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;
        align-items: center;
        color: var(--text-color);
        background: var(--secondary-color);
        border: solid 1px var(--text-color);
        border-radius: 15px;
        font-size: var(--ms);
        font-weight: var(--font-weight-medium);

        img{
            max-width: 32px;
        }
    }

    .filter-button:hover{ /* hover effekten på filtreringsknapparna*/
        background-color: darkgrey;
    }

    .check-availability-button{ /* bekräfta sökning knappen*/
        width: 257px;
        background: var(--text-color);
        font-size: var(--ms);
        font-weight: var(--font-weight-medium);
        padding: 18px 23px;
        border: solid 3px var(--text-color);
    }

    .check-availability-button:hover{ /* hover effekten på bekräfta sökning knappen*/
        background-color: var(--secondary-color);
        color: var(--text-color);
    }
}

/* ----------------------styling för vision och usp text ovanför korten börjar här----------------------*/

.vision-content-wrapper{ /*container för vision*/
    background-color: var(--secondary-color);
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: minmax(auto, 1240px);
    padding: 0 1rem;

    .vision-title{ /* rubriken i vision ovanför korten*/
        text-align: center;
        font-weight: var(--font-weight-regular);
        font-size: var(--l);
        padding: 69px 0 42px 0;
    }

    .vision-text{ /* texten i vision ovanför korten*/
        padding-bottom: 61px;
        width: 80%;
        justify-self: center;
        font-family: var(--font-family2);
        font-size: var(--ms);
        text-align: center;
    }
}

.usp-content-wrapper{ /* container för usp*/
    background-color: var(--primary-color);
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 1240px);
    justify-content: center;
    padding: 0 1rem;
    
    .usp-title{ /* rubriken i usp ovanför korten*/
        text-align: center;
        font-weight: var(--font-weight-regular);
        font-size: var(--l);
        padding: 69px 0 35px 0;
    }
    
    .usp-text{ /* texten i usp ovanför korten*/
        padding-bottom: 55px;
        width: 80%;
        justify-self: center;
        font-family: var(--font-family2);
        font-size: var(--ms);
        text-align: center;
    }
}

/*----------------------styling för kortena börjar här----------------------*/

.card-wrapper{ /*gemensam grid för kort containers*/
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 6.5rem;

    .usp-card{ /*styling för usp kort containern*/
        box-shadow: #393939 10px;
        border: solid 1px;
        border-radius: 24px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        height: 100%;
        
        article{ /*storlek och placering för innehållet i usp kortet*/
            height: 100%;
            padding-top: 18px;
            text-align: center;
            background-color: var(--secondary-color);
            border-radius: 24px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

        .image-container{ /* styling för  usp bild containern*/
            background-color: #88DC84;
            width: fit-content;
            display: flex;
            border: solid 1px #88DC84;
            border-radius: 50%;
            padding: 1rem;
            align-content: center;

            .usp-card-image{   /* bilderna i usp korten*/ 
                z-index: 100;
                transition: transform 0.5s ease;
            }
        }

        .card-stats{ /* procenttalen i usp korten*/
            font-size: var(--m);
            font-weight: var(--font-weight-regular);
            color: var(--button-color);
        }

        .usp-card-title{ /* titeln i usp korten*/
            font-size: var(--mls);
            font-weight: var(--font-weight-regular);
            padding-left: 13px;
            padding-right: 12px;
            text-align: center;
        }
        .usp-card-text{ /* texten i korten*/
            width: 100%;
            font-size: var(--s);
            margin-bottom: auto;
            padding-left:23px ;
            padding-right: 22px;
            padding-bottom: 4rem;
            font-size: var(--s);
        }
    }
}

    .vision-card{ /*styling för vision kort containern*/
        box-shadow: #393939 10px;
        border: solid 1px;
        border-radius: 24px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        height: 100%;
        
        
        article { /* innehållet i vision korten*/
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            height: 100%;
            padding: 1rem 20px 3.5rem 25px;
            
            .image-container{ /* containern för bilderna i vision korten*/
                background-color: #88DC84;
                width: fit-content;
                display: flex;
                border: solid 1px #88DC84;
                border-radius: 50%;
                padding: 1rem;
                align-content: center;
    
                .card-image{   /* placering och transistion av bilderna i visionkorten*/ 
                    z-index: 100;
                    transition: transform 0.5s ease;
                }
            }
            .card-title{ /* storlek för titeln i vision korten*/
                font-weight: var(--font-weight-regular);
                font-size: var(--m);
            }
    
            .card-text{ /* storlek texten i vision korten*/
                width: 100%;
                font-size: var(--s);
                margin-bottom: auto;
            }
        }
    }
}
/* Hover-effekt för korten */
.vision-card:hover, .usp-card:hover{
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.vision-card:hover .card-image, .usp-card:hover .usp-card-image{
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}

/*----------------------styling för enhanced content börjar här----------------------*/

.enhanced-content-wrapper{ /*griddar upp containern för enhanced content*/
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 620px));
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-top: 117px;
    margin-bottom: 69px;

    .enhanced-list li{ /* styling för elementena i listan i enhanced content*/
        list-style: none;
        padding: 1rem 0;
    }
    
    .enhanced-text{ /* placering av texten i enhanced content*/
        grid-row: 2/span 1;
        grid-column: 1/span 1;
    }

    .enhanced-list{ /* placering av listan i enhanced content*/
        grid-row: 3/ span 1;
        grid-column: 1/span 1;
    }

    .enhanced-title{ /* storlek för rubriken i enhanced content*/
        font-size: var(--l);
        font-weight: var(--font-weight-regular);
    }

    .enhanced-text, .list-text, .list-text2{ /*storlekar för text och listelement i enhanced content*/
        font-size: var(--s);
        font-weight: var(--font-weight-regular);
        letter-spacing: 1px;
        line-height: 2rem;
    }
    
    .list-text2{ /*färgar vartannat listelement*/
        color: #393939;
    }
    
    .enhanced-button{ /*placering, storlek och styling av knappen*/
        align-content: center;
        text-align: center;
        text-decoration: none;
        color: var(--secondary-color);
        background-color: var(--button-color);
        border: solid 1px var(--button-color);
        border-radius: 10px;
        padding: 16px 32px;
        font-size: var(--ms);
        font-weight: var(--font-weight-medium);
        max-width: 320px;
        max-height: 73px;
        display: block;
        grid-column: 1/span 1;
        grid-row: 4/span 1;
    }

    .enhanced-button:hover{ /*hover effekt på knappen*/
        background-color: var(--button-hover);
        scale: 1.02;
    }
    
    .enhanced-image-container{ /*griddar upp för bilden*/
        width: 100%;
        height: 100%;
        margin:0;
        padding: 0;
        grid-column: 2/span 1;
        grid-row: 1 / span 4;
        overflow: hidden;
        position: relative;
        border-radius: 24px;
    }
}

.enhanced-image{ /*storlek på bilden*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}


.transform-content{ /*griddar upp sista delen av hemsidan*/
    backdrop-filter: blur(4px);
    background: var(--main-gradient);
    display: grid;
    grid-column: minmax(auto, 1240px);
    justify-content: center;
    text-align: center;
    color: var(--secondary-color);
    gap: 2rem;
    padding: 6rem 1rem;
        h2{ /*storlek för titeln i transform content*/
            font-size: var(--l);
            font-weight: var(--font-weight-regular);
        }

        p{ /*storlek för texten i transform content*/
            max-width: 1056px;
            font-size: var(--m);
            font-weight: var(--font-weight-regular);
        }

        a{  /*storlek, storlek och styling för knappen i transform content*/
            max-width: 193px;
            text-decoration: none;
            font-size: var(--ms);
            font-weight: var(--font-weight-medium);
            color: var(--button-color);
            border: solid 1px  #CBCBCB;
            background-color: #CBCBCB;
            padding: 16px 32px;
            border-radius: 10px;
            justify-self: center;
        }
        a:hover{ /*hover effekt på knappen i transform content*/
            scale: 1.02;
            background-color: darkgray;
            border-color: darkgray;
        }
}
/*----------------------MEDIA QUERYS----------------------*/

@media screen and (max-width: 1259px){
    .enhanced-content-wrapper{ /*placerar varje barn av content wrapper vertikalt*/
        padding: 0 1rem;
        column-gap: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, fit-content);
        justify-items: center;
        text-align: center;
        row-gap: 1rem;

        .enhanced-title{ /*placering av titeln i enhanced content*/
            grid-row: 1/span 1;
        }
        .enhanced-text{ /*placering av texten i enhanced content*/
            grid-column: 1/span all;
            grid-row: 2/span 1;
        } 
         
        .enhanced-list{ /*placering av listan i enhanced content*/
            grid-column: 1/span all;
            grid-row: 4/ span 1 ;
        } 
        
        .enhanced-image-container{ /*placering och storlek av bildcontainern i enhanced content*/
            width: 70%;
            height: 100%;
            grid-row: 3/span 1;
            grid-column: 1/span 1;

                .enhanced-image{
                    width: 100%;
                    max-height: 600px;
                    object-fit: contain;
                }
        }

        .enhanced-button{ /*placering av knappen i enhanced content*/
            grid-column: 1/span all;
            grid-row:5/span 1;
        }
    }
}

@media screen and (max-width: 1240px) /*småjusteringar av korten och navigationen*/{

    .card-wrapper{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        
        .image-container{
            margin: 0 auto;
        }
    }

}

@media screen and (max-width: 1018px){ /*justerar postionering av knappar i check availability*/

    .check-availability-content{ 
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: max-content max-content;

        :nth-child(2){ 
            margin: 0 1rem;
        }

        .check-availability-button{
            width:100%;
            grid-column: 1/span 3;
            margin-top: 1rem;
        }
    }
}


@media screen and (max-width: 862px){ /*ändrar postionering av korten och centrerar innehållet i visionkortet*/
        
    .card-wrapper{
        align-self: flex-start;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(1,1fr);
        padding-bottom:1rem;
    }

    .vision-card div{
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 755px){ /*ändrar layout för knapparna i check availability*/
    .check-availability-content{
        grid-template-columns: max-content;

        :nth-child(2){
            margin: 1rem 0;
        }
        .filter-button{
            width: 100%;
        }

        .check-availability-button{
            grid-column: 1/span 1;
        }
    }
    
    .enhanced-content-wrapper{
        column-gap: 0px;
        width: 100%;
    }
 
    .enhanced-content-wrapper .enhanced-image-container {
        width: 100%;
        height: auto;
        grid-column: 1 / -1;
        border-radius: 24px;
        overflow: hidden;
        margin: 0;
        padding: 0;
    } 

    .enhanced-content-wrapper .enhanced-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: inherit;
        display: block;
    }
}

@media screen and (max-width: 500px) { /*ändrar utrymmet ovanför och under innehållet i bannern*/
    .banner-wrapper{
        padding: 8rem 0;
    }
}
@media screen and (max-width: 442px){ /*ändrar storleken på knapparna i den övre delen av hemsidan*/

    .banner-wrapper .welcome-buttons .about-button{
        margin: 1rem auto;

    }

    .usp-title{
        margin: 0 1rem;
        text-align: center;
    }
    
}