:root {
  /* Color palette */
  --primary-color: ##d4fff3;
  --secondary-color: #ffffff;
  --third-color: #009966;
  --third-color-alt: #009688;
  --footer-color: #101828;
  /* Här är hela gradienten från din bild */
  --main-gradient: linear-gradient(to right, #009966 80%, #009688);

  /* Font style */
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Font size */
  --font-size-base: 16px;

  /* Spacing unit */
  --spacing-unit: 8px;

  /* Border radius */
  --border-radius: 10px;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

/* Navigation styling*/
.nav-wrapper{
  background-color: #009688;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
figure{
  max-width: 20%;
}
img{
width: 100%}

body{
  background-color: red;
}
