@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* Color palette */
  --primary-color: ##d4fff3;
  --secondary-color: #ffffff;
  --third-color: #009966;
  --third-color-alt: #009688;
  --button-color: #009966;
  --footer-color: #101828;
  /* Här är hela gradienten */
  --main-gradient: linear-gradient(to right, #009966 80%, #009688);

  /* Font style */
  --font-family: "Inter", sans-serif;

  /* Font size */
  --xl: 80px; /* 80px */
  --l: 48px; /* 48px */
  --m: 32px; /* 32px */
  --s: 20px; /* 20px */
  --xs: 16px; /* 16px */

  /* Spacing unit */
  --spacing-unit: 8px;

  /* Border radius */
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
}

.button {
  background-color: var(--button-color);
  color: var(----secondary-color);
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-self: flex-start;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

/* Navigation styling*/
.nav-wrapper {
  background-color: #009688;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  .nav-logo {
    max-width: 25%;
    margin: 0;
  }

  .nav-logo img {
    width: 100%;
  }

  .nav-links a {
    text-decoration: none;
    font-family: var(--font-family);
    padding: 20px;
  }

  .nav-links button {
  }
}
