@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* Color palette */
  --primary-color: #d4fff3;
  --secondary-color: #ffffff;
  --third-color: #009966;
  --third-color-alt: #009688;
  --text-color: #000000;
  --button-color: #009966;
  --button-hover: #007a4d; /* Darker shade for hover effect */
  --footer-color: #101828;
  /* Detta här gör så att färgen börjar ljus men mörknar till slutet */
  --main-gradient: linear-gradient(to right, #009966 80%, #009688);

  /* Font style */
  --font-family: "Inter", sans-serif;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-medium: 600;

  /* Font size */
  --xl: 5rem; /* 80px */
  --l: 3rem; /* 48px */
  --m: 2rem; /* 32px */
  --ms: 1.5rem; /* 24px */
  --s: 1.25rem; /* 20px */
  --xs: 1rem; /* 16px */

  /* Spacing unit */
  --spacing-unit: 8px;

  /* Border radius */
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  height: 100vh;
}

button {
  background-color: var(--button-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  font-weight: var(--font-weight-medium);
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-self: flex-start;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

/*--ÖVER 700PX NAV STYLING*--/

/* sätter färg för det som är utanför innehållet i naven*/
.nav-wrapper{
  background-color: var(--secondary-color);
  width: 100%;
  position: fixed;
  z-index: 1000;
}

/*inställningar för containern för det som visas upp*/
.nav-content-wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  background-color: var(--secondary-color);
}
  /* Justerar bild på loggan och dess lådas storlek*/
  .nav-logo {
    max-width: 270px;
    margin: 0;
  }

  .nav-logo img {
    width: 100%;
  }
  /* Container för länkarna och knappen*/
  .nav-links a{
    font-size: var(--xs);
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--font-family);
    padding: 8px 16px;
  }
  /*Knappen*/
  .nav-button{
    font-size: var(--xs);
    font-weight: 600;
    padding:18px 14px ;
  }
  
/* döljer hamburgermenyn*/
#hamburger-toggle, .hamburger-navigation, .hamburger-img{
  display: none;
}

/* --FÖR MOBILSKÄRM OCH UNDER 700PX--*/
@media screen and (max-width: 700px){
  
  .nav-content-wrapper{
    padding: 0;
  }

  .nav-logo img{
    padding-left:20px;
  }

  /* döljer länkarna och knappen*/
  .nav-links{
    display: none;
  }
  /* justerar loggan och containern för hamburgermeny*/
  .nav-content-wrapper .nav-logo{
    max-width: 200px;
  }
  .hamburger-menu{
    width: 200px
  }
  /*Justerar storlek för hamburgermenyns bildikon*/
  #HB-img{
    display:block;
    width: 75px;
    padding: 15px;
    cursor: pointer;
    justify-self: flex-end;
  } 
  /*Inställningar för hamburgermenyn*/
  .hamburger-navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    border: solid 1px;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: var(--secondary-color);
  }
  
  .hamburger-menu li{
    padding: 20px;
  }
/* ger varje förutom den första raden en border*/
  .hamburger-menu li:nth-child(2),
  .hamburger-menu li:nth-child(3),
  .hamburger-menu li:nth-child(4){
    border-top: solid 1px;
  }

/*gör texten i menyn mer behaglig*/
  .hamburger-menu li a{
    text-decoration: none;
    color: var(--text-color);
  }
/*hover effekter på varje rad i menyn*/
  .hamburger-menu li:hover{
      background-color: var(--primary-color);
      transition: background-color 0.2s ease-in-out;
      padding-left: 40px;
    }
  #hamburger-toggle:checked + label + .hamburger-navigation{
    transform: translateX(0);
  }
}

.footer-wrapper {
    padding-top: 75px;
    display: grid;
    grid-template-rows: 1.25fr 0.75fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'company-info company-info company-address company-pages'
        'copyright-notice copyright-notice copyright-notice copyright-notice'
    ;
}

.company-info {
    grid-area: company-info;
}

.company-address {
    grid-area: company-address;
}

.company-pages {
    grid-area: company-pages;
}

footer {
    background: var(--footer-color);
    line-height: 100%;
    letter-spacing: 0;

    h2, p, a, address, figcaption {
        color: var(--secondary-color);
        font-weight: var(--font-weight-regular);
    }

    h2 {
        padding-bottom: 3rem;
        font-size: var(--m);        
    }

    a {
        text-decoration: none;
    }

    p, a, address {
        font-size: var(--xs);
        font-style: unset;
    }

    figure {
        padding-right: 1rem;
    }

    figure img {
        max-width: 166px;
    }

    figcaption {
        margin-top: 1.5rem;
    }

    section {
        margin-top: 5rem;
        padding-right: 1rem;
    }
    
    nav {
        font-weight: var(--font-weight-regular);
    }

    ul {
        list-style: none;
    }

    .company-address li {     
        padding-bottom: 1.5rem;
    }

    .company-pages li {
        padding-bottom: 1rem;
    }

    .copyright-notice {
        grid-area: copyright-notice;
        border-top: 1px solid var(--secondary-color);

        text-align: center;
        margin-bottom: 10rem;
        margin-top: 0.5rem;    
    }

    .copyright-notice p {
        font-size: var(--ms);
        line-height: 100%;
        margin-top: 3rem; 
    }
}

@media (max-width: 1240px) {
    footer figure {
        margin-left: 1rem;
    }
}

@media (max-width: 893px) {
    footer .copyright-notice p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 726px) {
    .footer-wrapper {
        grid-template-rows: repeat(4, 0.75fr);
        grid-template-columns: 0.33fr 0.45fr 0.22fr;
        grid-template-areas:
            '. company-info .'
            '. company-address .'
            '. company-pages .'
            'copyright-notice copyright-notice copyright-notice'
        ;
    }

    footer figure {
        margin-left: 0;
    }
}

@media (max-width: 403px) {
    footer h2 {
        line-height: 2rem;
    }
}