@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* Color palette */
  --primary-color: #d4fff3;
  --secondary-color: #ffffff;
  --third-color: #009966;
  --third-color-alt: #009688;
  --text-color: #000000;
  --button-color: #009966;
  --button-hover: #007a4d; /* Darker shade for hover effect */
  --footer-color: #101828;
  /* Detta här gör så att färgen börjar ljus men mörknar till slutet */
  --main-gradient: linear-gradient(90deg, rgba(0, 153, 102, 0.8) 0%, #009688 100%);


  /* Font style */
  --font-family: "Inter", sans-serif;
  --font-family2: "Montserrat", "Inter", sans-serif;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-medium: 600;

  /* Font size */
  --xl: 5rem; /* 80px */
  --ll: 4rem; /* 64px */
  --l: 3rem; /* 48px */
  --m: 2rem; /* 32px */
  --ms: 1.5rem; /* 24px */
  --s: 1.25rem; /* 20px */
  --xs: 1rem; /* 16px */

  /* Spacing unit */
  --spacing-unit: 8px;

  /* Border radius */
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  height: 100vh;
}

button {
  background-color: var(--button-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  font-weight: var(--font-weight-medium);
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-self: flex-start;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

/*--ÖVER 700PX NAV STYLING*--/

/* sätter färg för det som är utanför innehållet i naven*/
.nav-wrapper{
  background-color: var(--secondary-color);
  height:147px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  align-content: center;
}

/*inställningar för containern för det som visas upp*/
.nav-content-wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
    .nav-links{
      list-style: none;
      display: flex;
      text-align: center;
        li{
          width: 159px;
          height: 66px;
          align-content: center;

            a{
              color: var(--text-color);              
              font-size: var(--s);
              font-weight: 600;
              text-decoration: none;
              font-family: var(--font-family);
            }
          }
          
          .nav-button-container{
            width: 209px;
            background-color: var(--button-color);
            border-radius: 10px;
            .nav-button{
              color: var(--secondary-color)
            }
          }
        }
      }
    
    /* Justerar bild på loggan och dess lådas storlek*/
    .nav-logo {
      width: 322px;
      margin: 0;
    }
    
    .nav-logo img {
      width: 100%;
    }
    
    /* Container för länkarna och knappen*/
    
    /*Knappen*/
    .nav-button{
    width: 100%;
    font-size: var(--xs);
    font-weight: 600;
    a{
      color: var(--secondary-color);
      padding: 22px 18px;
      color:var(--secondary-color);
      
    }
  }
  
/* döljer hamburgermenyn*/
#hamburger-toggle, .hamburger-navigation, .hamburger-img{
  display: none;
}

/* Site footer */
.site-footer-wrapper {
    padding-top: 4.75rem;
    display: grid;
    grid-template-rows: 1.25fr 0.75fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'company-info company-info company-address company-pages'
        'copyright-notice copyright-notice copyright-notice copyright-notice'
    ;
}

.company-info {
    grid-area: company-info;
}

.company-address {
    grid-area: company-address;
}

.company-pages {
    grid-area: company-pages;
}

.site-footer {
    background: var(--footer-color);
    line-height: 100%;
    letter-spacing: 0;

    h2, p, a, address, figcaption {
        color: var(--secondary-color);
        font-weight: var(--font-weight-regular);
    }

    h2 {
        padding-bottom: 3rem;
        font-size: var(--m);        
    }

    a {
        text-decoration: none;
    }

    p, a, address {
        font-size: var(--xs);
        font-style: normal;
    }

    figure {
        padding-right: 1rem;
    }

    figure img {
        max-width: 166px;
    }

    figcaption {
        margin-top: 1.5rem;
    }

    section {
        margin-top: 5rem;
        padding-right: 1rem;
    }
    
    nav {
        font-weight: var(--font-weight-regular);
    }

    ul {
        list-style: none;
    }

    .company-address li {     
        padding-bottom: 1.5rem;
    }

    .company-pages li {
        padding-bottom: 1rem;
    }

    .copyright-notice {
        grid-area: copyright-notice;
        border-top: 1px solid var(--secondary-color);

        text-align: center;
        margin-bottom: 10rem;
        margin-top: 0.5rem;    
    }

    .copyright-notice p {
        font-size: var(--ms);
        line-height: 100%;
        margin-top: 3rem; 
    }
}

@media (max-width: 1240px) {
    .nav-content-wrapper{
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .site-footer figure {
        margin-left: 1rem;
    }
}

@media (max-width: 893px) {
    .site-footer .copyright-notice p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 764px) {
    .site-footer-wrapper {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            '. company-info .'
            '. company-address .'
            '. company-pages .'
            'copyright-notice copyright-notice copyright-notice'
        ;
    }

    .site-footer {
      figure {
        margin-left: 0;
      }

      section {
        margin-top: 3rem;
      }
    }
}

@media (max-width: 424px) {
    .site-footer h2 {
        line-height: 2rem;
    }
}

/* --FÖR MOBILSKÄRM OCH UNDER 1040PX GÄLLER NAV--*/


@media screen and (max-width: 1040px){
  .nav-wrapper{
    max-height: 100px;

    .nav-content-wrapper{
      padding: 0 1rem;
      max-height: 70px;

      .nav-logo{
        margin-right: auto;
        max-width: 220px;
      }
      
      /* döljer länkarna och knappen*/
      .nav-links li{
        display: none;
      }

      .hamburger-menu{
        width: 200px;
        align-self: center;
        padding: 0;
        
        /* justerar containern för hamburgermeny*/
        .placeholder{
          display: block;
          max-width: 57px;
          margin-left: auto;
          transition: transform 0.3s ease-in-out;
        }
        
          /*Justerar storlek för hamburgermenyns bildikon*/
          #HB-img{
            display:block;
            width: 100%;
            height: auto;
            cursor: pointer;
            object-fit: contain;
          }
          
            /*styling för hamburgermenyn*/
            .hamburger-navigation{
              list-style: none;
              display: flex;
              flex-direction: column;
              position: fixed;
              border: solid 1px;
              width: 100%;
              transform: translateX(100%);
              transition: transform 0.3s ease-in-out;
              background-color: var(--secondary-color);

              li{
                display:flex;
                transition: background-color 0.3s ease-in-out;

                a{
                    transition: transform 0.3s ease-in-out;
                    padding: 1rem;
                    flex: 1;
                    text-decoration: none;
                    color: var(--text-color)
                  }

                  a:hover{
                    transform: translateX(2%);
                  }
              }
            }
      }
    }
  }

/*-------"Animationer" och annat elände--------*/

/* ger varje förutom den första raden en border*/
  .hamburger-navigation li:nth-child(2),
  .hamburger-navigation li:nth-child(3),
  .hamburger-navigation li:nth-child(4){
    border-top: solid 1px;
  }
/*hover effekter på varje rad i menyn*/
  .hamburger-navigation li:hover{
      background-color: var(--primary-color);
    }
  #hamburger-toggle:checked + label + .hamburger-navigation{
    transform: translateX(0);
  }

  #hamburger-toggle:checked + .placeholder{
    transform: translateX(-148px);
  }
}

@media screen and (max-width: 460px){
  #hamburger-toggle:checked + .placeholder + .hamburger-navigation{
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 2000;
  }

  .hamburger-menu, li{
    text-align: center;
  }

  #hamburger-toggle:checked + .placeholder{
    transform: translateX(0);
  }

}
