@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Color palette */
  --primary-color: #d4fff3;
  --secondary-color: #ffffff;
  --third-color: #009966;
  --third-color-alt: #009688;
  --text-color: #000000;
  --button-color: #009966;
  --button-hover: #007a4d; /* Darker shade for hover effect */
  --tab-panel-color: #ececf0;
  --contact-us-section-grey: #f9fafb;
  --footer-color: #101828;
  --error-background: #ffe6e6;
  --error-color: rgb(213, 8, 8);
  /* Detta här gör så att färgen börjar ljus men mörknar till slutet */
  --main-gradient: linear-gradient(
    90deg,
    rgba(0, 153, 102, 0.8) 0%,
    #009688 100%
  );

  /* Font style */
  --font-family: "Inter", sans-serif;
  --font-family2: "Montserrat", "Inter", sans-serif;

  /* font-weight */
  --font-weight-strong: 700;
  --font-weight-regular: 400;
  --font-weight-light-medium: 500;
  --font-weight-medium: 600;

  /* Size convert */
  --xl: 5rem; /* 80px - xxxxl? */
  --ll: 4rem; /* 64px - xxxl */
  --l: 3rem; /* 48px - xxl? */
  --lm: 2.25rem; /* 36px - xl? */
  --m: 2rem; /* 32px - l? */
  --mls: 1.75rem; /* 28px - m? */
  --ms: 1.5rem; /* 24px - s? */
  --s: 1.25rem; /* 20px - xs? */
  --xs: 1rem; /* 16px - xxs? */
  --xxs: 0.5rem; /* 8px - xxxs? */

  /* Spacing unit */
  --spacing-unit: 8px;

  /* Border radius */
  --border-radius: 10px;
  --radius-large: 25px;
  --radius-medium: 20px;
  --radius-small: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--font-family);
  height: 100vh;
}

button {
  background-color: var(--button-color);
  color: var(--secondary-color);
  padding: var(--xxs) var(--xs); /* 0.5rem 1rem */
  font-weight: var(--font-weight-medium);
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  align-self: flex-start;
}

input[type="submit"]:hover,
button:hover {
  background-color: var(--button-hover);
  transform: scale(1.02);
}

.wrapper {
  max-width: 1240px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* NAV styling*/
#hamburger-button {
  /*döljer hamburgerknappen*/
  display: none;
}

.nav-wrapper {
  /*storlek, positionering och styling av containern*/
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  height: 147px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  align-content: center;
}

.nav-wrapper.nav-hidden {
  transform: translateY(-100%);
}

/*ger alla utom det första valet i hamburger menyn en kant ovantill */
.hamburger-navigation li:nth-child(2),
.hamburger-navigation li:nth-child(3),
.hamburger-navigation li:nth-child(4) {
  border-top: solid 1px;
}

.hamburger-navigation.is-open {
  transform: translateX(0);
}

.nav-content-wrapper {
  /* styling, postionering och storlek av container för innehållet i naven*/
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 21.5px 1rem;
  .nav-links {
    list-style: none;
    display: flex;
    text-align: center;
    column-gap: 10px;

    .nav-item {
      transition: background-color 0.3s ease-in-out;
    }

    .nav-item a {
      transition: transform 0.3 ease-in-out;
      display: inline-block;
    }

    .nav-item:hover {
      background-color: var(--primary-color);
    }

    .nav-item:hover a {
      transform: scale(1.2);
      background-color: transparent;
    }

    li:hover {
      cursor: pointer;
    }

    .nav-item {
      width: 159px;
      height: 73px;
      align-content: center;
      border-radius: 10px;

      a {
        color: var(--text-color);
        font-size: var(--ms);
        font-weight: 600;
        text-decoration: none;
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  .nav-button-container {
    /*stylar container för knappaen i naven*/
    background-color: var(--button-color);
    width: 209;
    height: 73px;
    padding: 22px 18px;
    align-content: center;
    border-radius: 10px;
    .nav-button {
      color: var(--secondary-color);
      font-size: var(--ms);
      font-weight: 600;
      text-decoration: none;
    }
  }
  .nav-button-container:hover {
    transform: scale(1.02);
    background-color: var(--button-hover);
  }
}

/* Justerar bild på loggan och dess lådas storlek*/
.nav-logo {
  width: 322px;
  margin: 0;
}

.nav-logo img {
  width: 100%;
}

.hamburger-navigation {
  /*styling för hamburgermenyn*/
  text-align: center;
  right: 0;
  left: 0;
  top: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  border: solid 1px;
  width: 100vw;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background-color: var(--secondary-color);

  li:hover {
    background-color: var(--primary-color);
  }

  li {
    display: flex;
    transition: background-color 0.3s ease-in-out;

    a {
      transition: transform 0.3s ease-in-out;
      padding: 1rem;
      flex: 1;
      text-decoration: none;
      color: var(--text-color);
      font-size: var(--s);
    }
    a:hover {
      transform: scale(1.5);
    }
  }
}

/* Site footer */
.site-footer-wrapper {
  padding-top: 4.75rem;
  display: grid;
  grid-template-rows: 1.25fr 0.75fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "company-info company-info company-address company-pages"
    "copyright-notice copyright-notice copyright-notice copyright-notice";
}

.company-info {
  grid-area: company-info;
}

.company-address {
  grid-area: company-address;
}

.company-pages {
  grid-area: company-pages;
}

.site-footer {
  padding-inline: 1rem;
  background: var(--footer-color);
  line-height: 100%;
  letter-spacing: 0;

  h2,
  p,
  a,
  address,
  figcaption {
    color: var(--secondary-color);
    font-weight: var(--font-weight-regular);
  }

  h2 {
    padding-bottom: 3rem;
    font-size: var(--m);
  }

  a {
    text-decoration: none;
  }

  p,
  a,
  address {
    font-size: var(--xs);
    font-style: normal;
  }

  figure {
    padding-right: 1rem;
  }

  figure img {
    max-width: 166px;
  }

  figcaption {
    margin-top: 1.5rem;
  }

  section {
    margin-top: 5rem;
    padding-right: 1rem;
  }

  nav {
    font-weight: var(--font-weight-regular);
  }

  ul {
    list-style: none;
  }

  .company-address li {
    padding-bottom: 1.5rem;
  }

  .company-pages li {
    padding-bottom: 1rem;
  }

  .copyright-notice {
    grid-area: copyright-notice;
    border-top: 1px solid var(--secondary-color);

    text-align: center;
    margin-bottom: 10rem;
    margin-top: 0.5rem;
  }

  .copyright-notice p {
    font-size: var(--ms);
    line-height: 100%;
    margin-top: 3rem;
  }
}

@media (max-width: 1240px) {
  .nav-content-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer-top {
    padding-inline: 1rem;
  }
}

@media (max-width: 893px) {
  .site-footer .copyright-notice p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 764px) {
    .site-footer-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "company-info company-info"
      "company-address company-pages"
      "copyright-notice copyright-notice";
  }

  .site-footer section {
    margin-top: 3rem;
  }
}

@media (max-width: 622px) {
    .site-footer-wrapper {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      "company-info"
      "company-address"
      "company-pages"
      "copyright-notice";
  }
}

@media (max-width: 424px) {
  .site-footer h2 {
    line-height: 2rem;
  }
}

@media screen and (max-width: 1095px) {
  #hamburger-button {
    display: block;
    background: var(--secondary-color);
    padding: 5px;
  }

  .nav-wrapper {
    max-height: 100px;
  }

  .nav-content-wrapper {
    padding: 0 1rem;
    max-height: 70px;
  }

  .nav-logo {
    margin-right: auto;
    max-width: 220px;
  }

  /* döljer länkarna och knappen*/
  .nav-links li {
    display: none;
  }

  .hamburger-menu {
    width: 200px;
    align-self: center;
    padding: 0;
  }

  /* justerar containern för hamburgermeny*/
  .placeholder {
    display: block;
    max-width: 57px;
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
  }

  /*Justerar storlek för hamburgermenyns bildikon*/
  #HB-img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
  #HB-img:hover {
    transform: scale(1.5);
  }
}
