@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* Color palette */
  --primary-color: ##d4fff3;
  --secondary-color: #ffffff;
  --third-color: #009966;
  --third-color-alt: #009688;
  --footer-color: #101828;
  /* Här är hela gradienten */
  --main-gradient: linear-gradient(to right, #009966 80%, #009688);

  /* Font style */
  --font-family: "Inter", sans-serif;

  /* Font size */
  --h1-size: 80px; /* 80px */
  --h2-size: 48px; /* 48px */
  --h3-size: 32px; /* 32px */
  --p-size: 20px; /* 20px */
  --font-size-base: 16px; /* 16px */

  /* Spacing unit */
  --spacing-unit: 8px;

  /* Border radius */
  --border-radius: 10px;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

/* Navigation styling*/
.nav-wrapper{
  width: 100%;
  background-color: #009688;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
    .nav-logo{
      max-width: 25%;
      margin: 0;
    }

    .nav-logo img{
      width: 100%;
    }

    .nav-links a{
      text-decoration: none;
      font-family: var(--font-family);
      padding: 20px;
    }

    .nav-links button{
    }
}