.navigation{
    border: none;
    width: 100%;
}

body{
    margin: 0;
}

nav{
    justify-self: flex-end;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img{
    align-self: flex-start;
    max-width: 20%;
}